/* DayPicker styles */
.DayPicker {
	display: inline-block;
	height: 32rem;
}

.DayPicker-wrapper {
	/* position: relative; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-bottom: 1rem;
	flex-direction: row;
	padding: 25px;
	width: 300px;
	outline: none;
}

.DayPicker-Months {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.DayPicker-Month {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0 1rem;
	margin-top: 1rem;
	color: rgb(93, 91, 91);
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
	position: absolute;
	cursor: pointer;
	top: 2.5rem;
	right: 3.5rem;
	margin-top: 2px;
	color: #8b9898;
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.DayPicker-NavButton:hover {
	opacity: 0.8;
}

.DayPicker-NavButton--interactionDisabled {
	display: none;
}

.DayPicker-Caption {
	padding: 0 0.5rem;
	padding-bottom: 0.5rem;
	display: table-caption;
	text-align: center;
	margin-bottom: 0.5rem;
}

.DayPicker-Caption > div {
	font-size: 1.6rem;
	font-weight: 500;
}

.DayPicker-Weekdays {
	margin-top: 1rem;
	display: table-header-group;
}

.DayPicker-WeekdaysRow {
	display: table-row;
}

.DayPicker-Weekday {
	display: table-cell;
	padding: 0.5rem;
	font-size: 0.875em;
	text-align: center;
	color: #8b9898;
}

.DayPicker-Weekday abbr[title] {
	border-bottom: none;
	text-decoration: none;
}

.DayPicker-Body {
	display: table-row-group;
}

.DayPicker-Week {
	display: table-row;
}

.DayPicker-Day {
	display: table-cell;
	padding: 0.7rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

.DayPicker-WeekNumber {
	display: table-cell;
	padding: 0.5rem;
	text-align: right;
	vertical-align: middle;
	min-width: 1rem;
	font-size: 0.75em;
	cursor: pointer;
	color: #8b9898;
	border-right: 1px solid #eaecec;
}

.DayPicker--interactionDisabled .DayPicker-Day {
	cursor: default;
}

.DayPicker-Footer {
	padding-top: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.DayPicker-TodayButton {
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
	color: #b74255;
	font-size: 1.2rem;
	margin: 0 auto;
	display: block;
}

/* Default modifiers */

.DayPicker-Day--today {
	color: #b74255;
	font-weight: 500;
	border-bottom: 0.2rem solid #b74255;
}

.DayPicker-Day--outside {
	cursor: default;
	color: #8b9898;
}

.DayPicker-Day--disabled {
	color: #dce0e0;
	cursor: default;
	border: none;
}

/* Example modifiers */

.DayPicker-Day--sunday {
	background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
	color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
	position: relative;
	color: #f0f8ff;
	background-color: #4a90e2;
	border-radius: 100%;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
	background-color: #51a0fa;
}

.DayPicker:not(.DayPicker--interactionDisabled)
	.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
	background-color: #ffdbe1;
	border-radius: 50%;
}

/* Custom DayPickerInput for form */
form .DayPicker {
	display: inline-block;
	height: 100%;
	position: relative;
	box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
}

form .DayPickerInput {
	display: inline-block;
	font-family: inherit;
	width: 100%;
}

form .DayPickerInput input {
	border: none;
	border-bottom: 0.2rem solid #eee;
	height: 5rem;
	outline: none;
	font-size: 2rem;
	text-indent: 4rem;
	width: 100%;
}

form .DayPickerInput-OverlayWrapper {
	width: 50rem;
}

form .DayPickerInput-Overlay {
	position: absolute;
	left: 0;
	margin-bottom: 5rem;
}

form .DayPicker-wrapper {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex-direction: row;
	width: 50rem;
	outline: none;
	background-color: red;
	padding: 0;
	height: 100%;
}

form .DayPicker-Months {
	background-color: green;
	height: 100%;
}

form .DayPicker-Month {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	color: rgb(93, 91, 91);
	font-size: 1.6rem;
	background-color: #fff;
	width: 100%;
}

form .DayPicker-Caption {
	text-align: center;
	background-color: #b74255;
	padding: 4rem;
	margin: 0;
}

form .DayPicker-Caption > div {
	font-size: 2rem;
	font-weight: 300;
	color: #fff;
}

form .DayPicker-Weekdays {
	display: table-header-group;
}

form .DayPicker-WeekdaysRow {
	display: table-row;
}

form .DayPicker-Weekday {
	display: table-cell;
	padding: 2.5rem 2rem 2rem 2rem;
	font-size: 2rem;
	text-align: center;
	color: #b74255;
}

form .DayPicker-Weekday abbr[title] {
	border-bottom: none;
	text-decoration: none;
}

form .DayPicker-Body {
	display: table-row-group;
}

form .DayPicker-Week {
	display: table-row;
}

form .DayPicker-Day {
	display: table-cell;
	padding: 2.5rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

form .DayPicker-WeekNumber {
	display: table-cell;
	padding: 0.5rem;
	text-align: right;
	vertical-align: middle;
	min-width: 1rem;
	font-size: 0.75em;
	cursor: pointer;
	color: #8b9898;
	border-right: 1px solid #eaecec;
}

form .fDayPicker--interactionDisabled .DayPicker-Day {
	cursor: default;
}

form .DayPicker-Footer {
	padding: 1rem;
	position: absolute;
	top: 7rem;
	display: inline-block;
	height: 3rem;
}

form .DayPicker-TodayButton {
	border: none;
	border-left: 0.2rem solid #fff;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	padding-left: 0.5rem;
	cursor: pointer;
	color: #fff;
	font-size: 1.2rem;
	margin: 0 auto;
}

form .DayPicker-NavButton {
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	display: inline-block;
	border-radius: 50%;
	border: 0.1rem solid #fff;
	outline: none;
	background-image: none;
}

form .DayPicker-NavButton--prev {
	position: absolute;
	left: 15%;
	top: 4rem;
}

form .DayPicker-NavButton--prev::before {
	content: '\2190';
	color: #fff;
	font-size: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

form .DayPicker-NavButton--next {
	position: absolute;
	right: 15%;
	top: 4rem;
}

form .DayPicker-NavButton--next::after {
	content: '\2192';
	color: #fff;
	font-size: 1rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

form
	.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
	position: relative;
	color: #aaa;
	background-color: #eee;
	border-radius: initial;
}

form
	.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
	background-color: #f7f7f7;
}

form
	.DayPicker:not(.DayPicker--interactionDisabled)
	.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
	background-color: #f7f7f7;
	border-radius: initial;
}

/* Custom DayPicker for range selection */
.Range {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-size: 1.6rem;
	display: block;
	display: flex;
	justify-content: center;
	position: relative;
	/* border: 0.2rem solid black; */
}

.Range .DayPicker-wrapper {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* flex-direction: row;
	width: 50rem;
	outline: none;
	background-color: red;
	padding: 0;
	height: 100%; */
	/* border: 0.2rem solid red; */
	width: 100%;
	padding: 0;
	height: 100%;
}

.Range .DayPicker-Months {
	/* background-color: green;
	height: 100%; */
	/* border: 0.2rem solid green; */
	width: 100%;
	display: flex;
	justify-content: center;
}

.Range .DayPicker-Month {
	outline: none;
	margin: 0 2rem;
	box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
	/* width: 35rem; */
}

.Range .DayPicker-Caption {
	text-align: center;
	background-color: #b74255;
	padding: 3rem;
	margin: 0;
	/* border: 0.2rem solid blue; */
}

.Range .DayPicker-Caption > div {
	font-size: 2rem;
	font-weight: 300;
	color: #fff;
	/* border: 0.2rem solid orange; */
}

.Range .DayPicker-Weekdays {
	display: table-header-group;
}

.Range .DayPicker-WeekdaysRow {
	display: table-row;
}

.Range .DayPicker-Weekday {
	display: table-cell;
	padding: 2.5rem 2rem 2rem 2rem;
	font-size: 2rem;
	text-align: center;
	color: #b74255;
	/* border: 0.2rem solid salmon; */
}

.Range .DayPicker-Weekday abbr[title] {
	border-bottom: none;
	text-decoration: none;
}

.Range .DayPicker-Body {
	display: table-row-group;
}

.Range .DayPicker-Week {
	display: table-row;
}

.Range .DayPicker-Day {
	display: table-cell;
	padding: 2rem;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
	/* border: 0.2rem solid purple; */
}

/* .Range .DayPicker-WeekNumber {
	display: table-cell;
	padding: 0.5rem;
	text-align: right;
	vertical-align: middle;
	min-width: 1rem;
	font-size: 0.75em;
	cursor: pointer;
	color: #8b9898;
	border-right: 1px solid #eaecec;
} */

.Range .DayPicker-Footer {
	padding: 1rem;
	position: absolute;
	bottom: -5rem;
	display: inline-block;
}

.Range .DayPicker-TodayButton {
	border: none;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
	color: #aaa;
	font-size: 1.2rem;
	margin: 0 auto;
}

.Range .DayPicker-NavBar {
	/* position: absolute;
	bottom: 2rem;
	left: 2rem; */
	/* border: 0.2rem solid darkorange; */
}

.Range .DayPicker-NavButton {
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	display: inline-block;
	border-radius: 50%;
	border: 0.1rem solid #b74255;
	outline: none;
	background-image: none;
}

.Range .DayPicker-NavButton--prev {
	position: absolute;
	left: 15%;
	top: -5rem;
}

.Range .DayPicker-NavButton--prev::before {
	content: '\2190';
	color: #b74255;
	font-size: 1.6rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.Range .DayPicker-NavButton--next {
	position: absolute;
	right: 15%;
	top: -5rem;
}

.Range .DayPicker-NavButton--next::after {
	content: '\2192';
	color: #b74255;
	font-size: 1.6rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.Range
	.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
	background-color: #ffdbe1 !important;
	color: #b74255;
}

.Range
	.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
	position: relative;
	color: #f0f8ff;
	background-color: #b74255;
}

.Range .DayPicker-Day {
	border-radius: 0 !important;
}
