.rc-time-picker {
	display: inline-block;
	box-sizing: border-box;
	width: 45%;
	position: relative;
}

.rc-time-picker * {
	box-sizing: border-box;
}

.rc-time-picker-input {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 5rem;
	font-size: 2rem;
	text-indent: 1rem;
	cursor: text;
	color: #666;
	background-color: #fff;
	background-image: none;
	border: none;
	border-bottom: 0.2rem solid #eee;
	outline: none;
	/* transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
		background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
		box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.rc-time-picker-input[disabled] {
	color: #ccc;
	background: #f7f7f7;
	cursor: not-allowed;
}

.rc-time-picker-panel {
	z-index: 1070;
	position: absolute;
	box-sizing: border-box;
}

.rc-time-picker-panel * {
	box-sizing: border-box;
}

.rc-time-picker-panel-inner {
	display: inline-block;
	position: relative;
	top: 5rem;
	left: 0;
	outline: none;
	list-style: none;
	font-size: 1.6rem;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	width: 30rem;
}

.rc-time-picker-panel-narrow {
	max-width: 113px;
}

.rc-time-picker-panel-input {
	margin: 0;
	padding: 0;
	width: 100%;
	cursor: auto;
	outline: 0;
	background-color: transparent;
	border: 1px solid transparent;
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
}

.rc-time-picker-panel-input-wrap {
	box-sizing: border-box;
	position: relative;
	padding: 3rem 2rem;
	background-color: #b74255;
}

.rc-time-picker-panel-input-invalid {
	border-color: red;
}

.rc-time-picker-panel-clear-btn {
	display: block;
	position: absolute;
	right: 3rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	text-align: center;
	margin: 0;
}
.rc-time-picker-panel-clear-btn:after {
	content: '\2573';
	font-size: 1.6rem;
	color: #eee;
	display: inline-block;
	transition: color 0.3s ease;
}

.rc-time-picker-panel-clear-btn:hover:after {
	color: #fff;
}

.rc-time-picker-panel-combobox {
	display: flex;
}

.rc-time-picker-panel-select {
	flex: 1;
	font-size: 12px;
	border: 1px solid #e9e9e9;
	border-width: 0 1px;
	margin-left: -1px;
	box-sizing: border-box;
	max-height: 21rem;
	overflow-y: auto;
	position: relative;
}

.rc-time-picker-panel-select-active {
	overflow-y: auto;
}

.rc-time-picker-panel-select:first-child {
	border-left: 0;
	margin-left: 0;
}

.rc-time-picker-panel-select:last-child {
	border-right: 0;
}

.rc-time-picker-panel-select ul {
	list-style: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 1.6rem;
	color: #888;
}

.rc-time-picker-panel-select li {
	list-style: none;
	box-sizing: content-box;
	margin: 0;
	padding: 0.5rem 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rc-time-picker-panel-select li:hover {
	background: #f7f7f7;
}

li.rc-time-picker-panel-select-option-selected {
	background-color: #eee;
}

li.rc-time-picker-panel-select-option-disabled {
	color: #ccc;
}

li.rc-time-picker-panel-select-option-disabled:hover {
	background: transparent;
	cursor: not-allowed;
}
